* {
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
    background-color: #2A4365;
}

.container,
header,
.loading,
.tweets-list {
    width: 50%;
    margin: 0 auto;
}

header {
    font-size: 2.3rem;
    text-align: center;
    padding: 1.3em;
    font-family: 'Sacramento', sans-serif;
    color: white;
}

.name,
.message {
    width: 100%;
    margin: 1.2rem;
    padding: 1rem;
    border: none;
    background-color: transparent;
    border: 2px solid #718096;
    border-radius: 10px;
}

.name::placeholder,
.message::placeholder {
    color: #718096;
    font-size: 20px;
    font-weight: bold;
}

.button {
    padding: 10px 40px;
    font-size: 1rem;
    color: white;
    background-color: #63B3ED;
    border: none;
    border-radius: 20px;
    text-transform: uppercase;
    cursor: pointer;
}

.button:hover {
    background-color: #3182CE;
    letter-spacing: 1.8px;
    transition: .3s all ease;
}

.loading-image {
    width: 100%;
    text-align: center;
    height: 500px;
    background-image: url('./animation_640_kjne7amd.gif');
    background-repeat: no-repeat;
    background-size: cover;
}

.tweets-list {
    padding: 20px;
}

.tweet {
    padding: 20px;
    background-color: transparent;
    color: white;
    border-top: 2px solid #718096;
    border-right: 2px solid #718096;
    border-left: 2px solid #718096;

}

.tweet>div {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #718096;
    margin-bottom: 10px;
}

.tweet>div>h3 {
    font-size: 25px;
    text-transform: uppercase;
}

.tweet>div>small {
    color: #718096;
}

@media screen and (max-width:800px) {

    .container,
    header {
        width: 60%;
        margin: 0 auto;
    }
}